<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1">
        <title>Document</title>
    </head>

    <body>
        <div>Barra de navegacion</div>
        {{{body}}}
        <div>Pie de pagina</div>
    </body>
    
</html>