<h1>Pagina de registros</h1>

<form method="post" action="/api/users">
    <input type="text" name="name" placeholder="Nombre">
    <br/><br/>
    <input type="email" name="email" placeholder="E-mail">
    <br/><br/>
    <button type="submit" name="submit">Registrarse</button>
</form>