<h1>Home</h1>
<input type="text" id="chatbox" placeholder="Enter text"/>
<button id="send">Send</button>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js" type="text/javascript"></script>